@page "/"
@using BlazorServerSignalRApp.Server.Hubs
@using Microsoft.AspNetCore.SignalR.Client
@using static BlazorServerSignalRApp.Server.Hubs.ChatHub
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<section class="groups">
    <div>
        <div class="groups-new">
            <input type="text" @bind-value="NewConversationName" @bind-value:event="oninput" />
            <button @onclick="NewConversation">Create</button>
        </div>
        <div class="groups-select">
            <select @bind-value="SelectedConversation" @onclick="RetrieveMessages" @bind-value:event="oninput" class="inputForm">
                <option>Select Group</option>
                @foreach (Conversation conversation in Conversations)
                {
                    <option value="@conversation.ID" >@conversation.Name</option>
                }
            </select>
        </div>
    </div>
</section>

@*
<button class="btn btn-primary" @onclick="update">Update</button>

<br />
<br />
<div class="form-group">
    <label>
        From:
        <input @bind="Sender" class="inputForm" />
    </label>
</div>

<div class="form-group">
    To:
    <select @bind="RecieverID" class="inputForm">
        <option>Pick an ID</option>
        @foreach (var id in IDS)
        {
            @if (id != hubConnection.ConnectionId)
            {
                <option value="@id">@id</option>
            }
        }
    </select>
</div>*@

<section class="messages">
    <div>
        <div class="messages-input">
            Message:
            <input type="text" @bind-value="MessageString" @bind-value:event="oninput" />
            <button @onclick="SendMessage">Send</button>
        </div>
    </div>

    @foreach (Message CosmosMessage in Messages)
    {
        @CosmosMessage.MessageString
        <br/>
    }

    <button @onclick="RetrieveMessages">Update</button>
    <button @onclick="ClearChat">Clear Chat</button>
</section>

<hr>
@*
<ul id="messagesList">
    Your Connection ID is: @hubConnection.ConnectionId
    <hr>
    @foreach (var message in messages)
    {
        <li>@((MarkupString)message)</li>
    }
</ul>


*@